body
 {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #f4f4f4;

}
.calculator
 {
    width: 350px;
    background: #222;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.display
 {
    width: 100%;
    height: 50px;
    background:orange;
    text-align: right;
    padding: 10px;
    font-size: 1.5em;
    border-radius: 5px;
    
}
.buttons button 
{
    width: 22%;
    margin: 5px;
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: yellow;
}
.on-off 
{
    background: red;
    color: white;
}
.buttons button:disabled {
    background: #ccc;
    cursor: not-allowed;
}